# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Node.js dependencies
node_modules/

# Github
.github

# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache/

# Flask stuff:
instance/
.webassets-cache

# Chrome Driver
chromedriver.exe
LICENSE.chromedriver
THIRD_PARTY_LICENSES.chromedriver

# PowerShell
*.ps1

# Logs
*.log