<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='icons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='icons/favicon-16x16.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='icons/apple-touch-icon.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='icons/site.webmanifest') }}">

    <title>500 - Server Error</title>
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/errors.css')}}" />
</head>
<body>
    <div class="container">
        <h1>500 - Server Error</h1>
        <p>{{ message or "Sorry, there has been an internal server error while loading this page." }}</p>
        <a href="/">Go back home</a>
    </div>
</body>
</html>


