<!--
    ==========================================================================
    Admin Page
    --------------------------------------------------------------------------
    - Not for all users, only for admins.
    - Add metadata to videos, such as speakers, scriptures, and characters.
    - Check the jw.org site for new videos and categories.
    ==========================================================================
-->

{% extends "base.html" %}
{% block title %}
Admin
{% endblock %}

{% block content %}

<!-- Add metadata to videos -->
<div class="container d-flex justify-content-center my-5" style="min-height: 10vh;">
    <div class="card shadow-lg bg-dark text-white" style="width: 800px; border-radius: 18px;">
        <div class="card-body p-4">
            <h3>Add Metadata to Videos</h3>
            <form class="p-4" style="margin: auto;" id="addMetadataForm">
                
                <!-- Video Name -->
                <div class="form-group mb-3">
                    <label for="videoName" class="form-label">Video Name</label>
                    <input type="text" class="form-control" id="videoName" placeholder="Enter video name">
                </div>

                <!-- Description -->
                <div class="form-group mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" id="description" rows="3" placeholder="Enter video description"></textarea>
                </div>

                <!-- URL -->
                <div class="form-group mb-3">
                    <label for="url" class="form-label">URL</label>
                    <input type="text" class="form-control" id="url" placeholder="Enter video URL">
                </div>

                <!-- Tags -->
                <div class="form-group mb-3">
                    <label for="tagName" class="form-label">Tag Name</label>
                    <input type="text" class="form-control" id="tagName" placeholder="Enter tag name">
                </div>

                <!-- Locations -->
                <div class="form-group mb-3">
                    <label for="locationName" class="form-label">Location Name</label>
                    <input type="text" class="form-control" id="locationName" placeholder="Enter location name">
                </div>

                <!-- Speakers -->
                <div class="form-group mb-3">
                    <label for="speakerName" class="form-label">Speaker Name</label>
                    <input type="text" class="form-control" id="speakerName" placeholder="Enter speaker name">
                </div>

                <!-- Characters -->
                <div class="form-group mb-3">
                    <label for="characterName" class="form-label">Character Name</label>
                    <input type="text" class="form-control" id="characterName" placeholder="Enter character name">
                </div>

                <!-- Scriptures -->
                <div class="form-group mb-3">
                    <label for="scriptureName" class="form-label">Scriptures</label>
                    <input type="text" class="form-control" id="scriptureName" placeholder="Enter scriptures">
                </div>

                <!-- Categories -->
                <div class="form-group mb-3">
                    <label for="categoryName" class="form-label">Category Name</label>
                    <input type="text" class="form-control" id="categoryName" placeholder="Enter categories">
                </div>

                <!-- Date Added -->
                <div class="form-group mb-3">
                    <label for="dateAdded" class="form-label">Date Added</label>
                    <input type="date" class="form-control" id="dateAdded" name="dateAdded">
                </div>
                <br />

                <!-- Submit Button -->
                <div>
                    <button type="submit" class="btn btn-primary w-100" style="border-radius: 8px;">
                        Add Metadata
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Add scriptures -->
<div class="container d-flex justify-content-center my-5" style="min-height: 10vh;">
    <div class="card shadow-lg bg-dark text-white" style="width: 800px; border-radius: 18px;">
        <div class="card-body p-4">
            <h3>Add scriptures</h3>
            <p>Add scripture and accompanying text</p>

            <!-- Form -->
            <form class="p-4" style="margin: auto;" id="addScrForm">

                <!-- Scripture Name -->
                <div class="form-group mb-3">
                    <label for="scrName" class="form-label">Scripture Name</label>
                    <input type="text" class="form-control" id="scrName" placeholder="Enter Scripture">
                </div>

                <!-- Verse Text -->
                <div class="form-group mb-3">
                    <label for="scrText" class="form-label">Scripture Text</label>
                    <textarea class="form-control" id="scrText" rows="4" placeholder="Scripture text" style="resize:vertical;"></textarea>
                </div>

                <br />
                <button type="submit" class="btn btn-primary w-100" style="border-radius: 8px;">
                    Add
                </button>
            </form>
        </div>
    </div>
</div>

<!-- Scrape for new videos -->
<div class="container d-flex justify-content-center my-5" style="min-height: 10vh;">
    <div class="card shadow-lg bg-dark text-white" style="width: 800px; border-radius: 18px;">
        <div class="card-body p-4">
            <h3>Scrape for New Videos</h3>
            <p>To scrape for new videos, go to the <b>scripts</b> folder, and run the <i>scraper.py</i> script.</p>
            <p>This will generate files in the CSV folder:</p>
            <ul>
                <li><b>major_categories.csv</b> - Contains all major categories</li>
                <li><b>sub_categories.csv</b> - Contains all subcategories within major categories</li>
                <li><b>videos.csv</b> - Contains all videos by category. There will be some duplicates based on multiple categories</li>
                <li><b>missing_videos.csv</b> - Contains videos that are not in the database, along with metadata</li>
            </ul>
            <p>Note, if the first three CSV files are already there, they will be loaded, and scraping for fresh data will be skipped.</p>
            <br />

            <div class="p-4" style="margin: auto;">
                <button type="button" class="btn btn-info w-100 text-light" style="border-radius: 8px;" id="listVideosBtn">
                    List Videos
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-center my-5 d-none" id="videosTableWrapper" style="min-height: 10vh;">
    <div class="card shadow-lg bg-dark text-white" style="width: 100%; border-radius: 18px;">
        <div class="card-body p-4">
            <div id="videosTableContainer" class="mt-4">
                <!-- This is where the videos table will be rendered -->
            </div>
            <p><i>Note: Other metadata such as data added, speakers, etc, will still need to be added later.</i></p>
        </div>
    </div>
</div>


<script src="{{ url_for('static', filename='js/metadata.js') }}"></script>
<script src="{{ url_for('static', filename='js/videoAdd.js') }}"></script>
{% endblock %}