<!--
    ==========================================================================
    Home Page
    --------------------------------------------------------------------------
    - Displays a list of video categories.
    - Each category has a button to load videos dynamically.
    ==========================================================================
-->

{% extends "base.html" %}
{% block title %}
Home
{% endblock %}

{% block content %}
    <!--
        ==========================================================================
        Scripts
        --------------------------------------------------------------------------
        loadVideos.js:
            - Loads videos for a specific category
        ==========================================================================
    -->
    <script src="{{ url_for('static', filename='js/loadVideos.js') }}"></script>

    <!--
        ==========================================================================
        Main Content Area
        --------------------------------------------------------------------------
        - Creates a row for each video category, which comes from Flask.
        - Adds a button to load videos for that category.
        ==========================================================================
    -->
    {% for category in categories %}
        <div class="category-row" id="category-{{ category.id }}" data-category-id="{{ category.id }}">
            <!-- Category title -->
            <div class="category-title">
                {{ category.name }}
            </div>

            <!-- Thumbnails container -->
            <div class="thumbnails"></div>
        </div>

    {% endfor %}
{% endblock %}