{% extends "base.html" %}
{% block title %}
Home
{% endblock %}

{% block content %}

<!--
Scripts for the home page
==============================================================================
scroll.js:
    - Handles horizontal scrolling of thumbnails within each category
homeThumbs.js:
    - Dynamically sets the width of thumbnails based on the parent container size
==============================================================================
-->
<script src="{{ url_for('static', filename='js/scroll.js') }}"></script>
<script src="{{ url_for('static', filename='js/homeThumbs.js') }}"></script>


<!-- The big banner carousel -->
<div id="bannerCarousel" class="carousel slide"
    data-bs-ride="carousel"
    data-bs-interval="7000"
    style="width: 100%; margin: 0 auto; margin-top: 0;">
    <!-- Carousel indicators (shows the number of images and the active one) -->
    <div class="carousel-indicators">
        {% for pic in banner_pics %}
        <button type="button"
                data-bs-target="#bannerCarousel"
                data-bs-slide-to="{{ loop.index0 }}"
                {% if loop.first %}class="active"{% endif %}
                aria-current="{% if loop.first %}true{% else %}false{% endif %}"
                aria-label="Slide {{ loop.index }}">
        </button>
        {% endfor %}
    </div>

    <!-- The big carousel itself -->
    <div class="carousel-inner">
        {% for pic in banner_pics %}
        <div class="carousel-item {% if loop.first %}active{% endif %}">
            <div style="position: relative; width: 100%; padding-top: 33.33%;">
                <!-- The image -->
                <img src="/static/img/banner/{{ pic.filename }}" 
                    class="d-block w-100"
                    alt="Banner {{ pic.description }}"
                    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; border-radius: 8px;">
                
                <! -- Overlay title on the image -->
                <div class="carousel-caption d-none d-md-block">
                    <h1>{{ pic.description }}</h1>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Left button on the carousel -->
    <button class="carousel-control-prev" type="button" data-bs-target="#bannerCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>

    <!-- Right button on the carousel -->
    <button class="carousel-control-next" type="button" data-bs-target="#bannerCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>


<!-- The card with the main content-->
<div class="container d-flex justify-content-center my-5">
    <div class="card shadow-lg bg-dark text-white" style="width: 1400px; border-radius: 18px;">
        <div class="card-body">

            <!-- Continue Watching Carousel -->
            {% if in_progress_videos %}
                <h4 class="p-4">Continue Watching</h4>
                <div id="continueWatchingCarousel" class="carousel slide mb-5" data-dynamic="true">
                    
                    <!-- Thumbnails -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="d-flex gap-3 justify-content-center">
                                {% for video in in_progress_videos %}
                                    <div class="thumbnail-home">
                                        <a href="/video/{{ video.video_id }}">
                                            <img src="{{ video.thumbnail }}" alt="{{ video.name }}">
                                            <div class="thumbnail-title">
                                                {{ video.name }}
                                            </div>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <!-- Previous button -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#continueWatchingCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </button>

                    <!-- Next button -->
                    <button class="carousel-control-next" type="button" data-bs-target="#continueWatchingCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </button>
                </div>
            {% endif %}
        </div>

        <!-- Latest News and Monthly Program -->
        <div class="card-body mb-3">
            <h4 class="mb-3 p-4">Latest News and Monthly Program</h4>
            <div class="row justify-content-center d-flex gap-3">
                <!-- Latest News -->
                <div class="col-md-5">
                    <!-- The container for the thumbnail -->
                    <div class="card bg-dark text-white h-100 border-secondary" style="position: relative;">
                        <a href="{{ url_for('dynamic_pages.video_details', video_id=latest_news.id) }}" class="text-decoration-none text-white">
                            
                            <!-- Thumbnail image -->
                                <img src="{{ latest_news.thumbnail }}"
                                        class="card-img-top{% if latest_news.watched %} watched{% endif %}"
                                        alt="{{ latest_news.name }}"
                                        style="height: 300px; object-fit: cover;">
                                                        
                            <!-- Video text -->
                            <div class="card-body">
                                <!-- title -->
                                <h6 class="card-title">{{ latest_news.name }}</h6>
                                
                                <!-- Duration -->
                                {% if latest_news.duration %}
                                    <small class="text-light">
                                        <i class="fas fa-clock"></i> {{ latest_news.duration | seconds_to_hhmmss }}
                                    </small>
                                {% endif %}
                            </div>
                        </a>
                    </div>
                </div>
            
                <!-- Monthly Program -->
                <div class="col-md-5">
                    <!-- The container for the thumbnail -->
                    <div class="card bg-dark text-white h-100 border-secondary" style="position: relative;">
                        <a href="{{ url_for('dynamic_pages.video_details', video_id=latest_monthly.id) }}" class="text-decoration-none text-white">
                            
                            <!-- Thumbnail image -->
                                <img src="{{ latest_monthly.thumbnail }}"
                                        class="card-img-top{% if latest_monthly.watched %} watched{% endif %}"
                                        alt="{{ latest_monthly.name }}"
                                        style="height: 300px; object-fit: cover;">
                                                        
                            <!-- Video text -->
                            <div class="card-body">
                                <!-- title -->
                                <h6 class="card-title">{{ latest_monthly.name }}</h6>
                                
                                <!-- Duration -->
                                {% if latest_monthly.duration %}
                                    <small class="text-light">
                                        <i class="fas fa-clock"></i> {{ latest_monthly.duration | seconds_to_hhmmss }}
                                    </small>
                                {% endif %}
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body">

            <!-- Latest Videos Carousel -->
            {% if latest_videos %}
                <h4 class="mb-3 p-4">Latest Videos</h4>
                <div id="latestCarousel" class="carousel slide mb-5" data-dynamic="true">
                    
                    <!-- Thumbnails -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="d-flex gap-3 justify-content-center">
                                {% for video in latest_videos %}
                                    <div class="thumbnail-home">
                                        <a href="/video/{{ video.id }}">
                                            <img src="{{ video.thumbnail }}" alt="{{ video.name }}">
                                            <div class="thumbnail-title">
                                                {{ video.name }}
                                            </div>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <!-- Previous button -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#latestCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </button>

                    <!-- Next button -->
                    <button class="carousel-control-next" type="button" data-bs-target="#latestCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </button>
                </div>
            {% endif %}
        </div>

    </div>
</div>

{% endblock %}